:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
	margin:     0;
	min-width:  320px;
	min-height: 100vh;
	overflow:   hidden;
}

h1 {
	font-size:   3.2em;
	line-height: 1.1;
}

#road {
	text-align: center;
}

#road-canvas {
	background: #b0cce1;
}

#controls-panel {
	position:      absolute;
	top:           42px;
	padding:       54px 32px;
	background:    #eef2fb;
	border:        3px solid slateGray;
	border-radius: 0px 8px 8px 0px;
	border-left:   none;
}

#controls-panel h2 {
	text-align:          center;
	margin:              0;
	line-height:         1;
	color:               White;
	-webkit-text-stroke: 1px #101053;
	text-stroke:         1px #101053;
}

#controls-panel label {
	display:     block;
	margin-top:  32px;
	font-style:  italic;
	font-weight: 500;
}

#controls-panel input {
	margin-top: 12px;
}

